{% extends 'store/main.html' %}
{% load static %}
{% block content %}


	<div class="container">
		<div class="row">


			<div class="col-12 col-md-6">
				<br>
				<h2>{{ product.name }}</h2>
				<p><strong>Viewd: </strong> {{ product.count }} times</p>

				<p><strong>Description:</strong> {{product.description|linebreaks}}</p>

				<p><strong>${{ product.price }}</strong></p>

	    		<p><button data-product={{ product.id }} data-action="add" class="btn btn-success add-btn update-cart">Add to Cart</button></p>

				<div class="mt-3">
					<img src="{{ product.imageURL }}" alt="product-image">
	    		</div>


	    	</div>

	    	<!-- You can put ADs on the right hand side of the column -->

	  </div>
	</div>


{% endblock content %}