{% extends 'store/main.html' %}
{% load static %}
{% block content %}


	<div class="row">
		<div class="col-lg-12">

			<div class="box-element">

				<!-- need to learn more bootstrap to modify -->
				<form method="get" class="float-left">
					{{ myFilter.form.name }}
		    		<button class="btn btn-primary" type="submit">Search</button>
		 		</form>
				<a class="btn btn-outline-info float-right" href="{% url 'store' %}">&#8592; Back to Shop</a>
				<br><br>
				<hr>
				<h2>Search Results</h2>
			</div>
			<br>
			
			<div class="box-element">
				<div class="cart-row">
					<div style="flex:2"></div>
					<div style="flex:1"><strong>Product Name</strong></div>
					<div style="flex:1"><strong>Price</strong></div>
					<div style="flex:1"><strong>Digital</strong></div>
					<div style="flex:2"><strong>Description</strong></div>

				</div>

				{% for result in results %}
					<div class="cart-row">
						<div style="flex:2"><img class="row-image" src="{{ result.imageURL }}"></div>
						<div style="flex:1"><p><a class="text-secondary" href="{% url 'item' result.id %}">{{ result.name }}</a></p></div>
						<div style="flex:1"><p>${{ result.price|floatformat:2 }}</p></div>
						<div style="flex:1"><p>{{ result.digital }}</p></div>
						<div style="flex:2"><p>{{ result.description }}</p></div>
					</div>
				{% endfor %}
			</div>


		</div>
	</div>


{% endblock content %}